<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Creare_Calendar>
      <version>0.2.0</version>
    </Creare_Calendar>
  </modules>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <calendar before="Mage_Adminhtml">Creare_Calendar_Adminhtml</calendar>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <global>
    <helpers>
      <calendar>
        <class>Creare_Calendar_Helper</class>
      </calendar>
    </helpers>
    <models>
      <calendar>
        <class>Creare_Calendar_Model</class>
        <resourceModel>calendar_resource</resourceModel>
      </calendar>
      <calendar_resource>
        <class>Creare_Calendar_Model_Resource</class>
        <entities>
          <date>
            <table>creare_calendar</table>
          </date>
        </entities>
      </calendar_resource>
    </models>
    <blocks>
      <calendar>
        <class>Creare_Calendar_Block</class>
      </calendar>
    </blocks>
    <resources>
      <calendar_setup>
        <setup>
          <module>Creare_Calendar</module>
          <class>Creare_Calendar_Model_Resource_Setup</class>
        </setup>
      </calendar_setup>
      <calendar_write>
        <connection>
          <use>core_write</use>
        </connection>
      </calendar_write>
      <calendar_read>
        <connection>
          <use>core_read</use>
        </connection>
      </calendar_read>
    </resources>
	<template>
		<email>
			<calendar_dates_email_template translate="label" module="calendar">
				<label>Reminder Email Template</label>
				<file>creare/dates_reminder.html</file>
				<type>html</type>
			</calendar_dates_email_template>
		</email>
	</template>
  </global>
  <crontab>
    <jobs>
      <creare_refreshdates>
        <schedule><cron_expr>4 0 * * *</cron_expr></schedule>
        <run><model>calendar/observer::refreshDates</model></run>
      </creare_refreshdates>
      <creare_sendreminderemails>
        <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
        <run><model>calendar/observer::sendEmails</model></run>
      </creare_sendreminderemails>
   </jobs>
  </crontab>
	<adminhtml>
		<layout>
		  <updates>
			<calendar>
			  <file>creare/calendar.xml</file>
			</calendar>
		  </updates>
		</layout>
	</adminhtml>
	<frontend>
        <layout>
          <updates>
            <calendar>
              <file>creare/calendar.xml</file>
            </calendar>
          </updates>
        </layout>
		<routers>
			<calendar>
				<use>standard</use>
                <args>
                    <module>Creare_Calendar</module>
                    <frontName>calendar</frontName>
                </args>
			</calendar>
		</routers>
    </frontend>
</config>